<p>Name: <%= @support.name %></p>
<p>Email: <%= @support.email %></p>
<p>Department: <%= @support.department %></p>
<p>Message: <%= @support.message %></p>
<p>Status: <%= @support.status %></p>
<br>
<%= link_to "Edit", edit_support_path %>
